# Logs
*.log
*-debug.log*
*-error.log*

# Test coverage
coverage/
*.lcov
.nyc_output/
.nycrc

# Output of 'npm pack'
*.tgz

# Integrity file
.yarn-integrity
.package-lock.json

# Environment variable files
.env
.env.*.local
.env.local

# Cache directory
**/node_modules/.cache/
**/node_modules/.bin/

# Misc.
.DS_Store
Thumbs.db

*.swp
*~
*.bak
.dir-locals*

# IDEs and editors
.idea/
*.iml
.vscode/

# Byte-compiled files
__pycache__/
*.pyc

.jshintrc*
.commitlintrc*
.eslintrc*
.eslintignore

CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEPENDENCIES.md
PULL_REQUEST_TEMPLATE*

# Git specific files
.github/
*/**/.gitignore
.gitattributes
.gitkeep
.gitmodules

yarn.lock
*/**/package-lock.json
.npmignore
.nvmrc
.babelrc*

# CI configurations
.travis*
appveyor.yml
Jenkinsfile

# Coding conventions
.editorconfig
.prettierrc*
.jscsrc
.jscs.json
jsl.node.conf

# Testing files
test/
smoke-tests/
tap-snapshots/
tests/
spec/
fixtures/
node_modules/**/test.js
tests.js
test-node.js
test-browser.js
benchmark/
bench.js
#speedtest.js

karma.conf.*
.coveralls*
.istanbul*

# Examples
examples/
example/
samples/
example.js
#example.html
samplejson/
**/cli-columns/color.js

# Built files
*.min.js
*.min.map
*.min.js.map
*.min.d.ts
*.d.ts
*.js.map
**/diff/dist/
#**/debug/dist/
**/agent-base/src/*.ts

# Scripts
Makefile
Makefile.targ
*.patch
scripts/
rollup.config.*
#**/build/build.js
#gen-changelog.sh

# Testing scripts
testdata/
gyp-tests.el
run-unit-tests.sh
**/node-gyp/*_test.sh
*.tests.ts

# Dependency executable files
**/node_modules/*/bin/
**/node_modules/@*/*/bin/
!**/node-gyp/bin/
**/node_modules/*/cli.js
**/node_modules/*/bin.js

# Specific patterns within any allowed package
CHANGELOG*
[Cc]hange[Ll]og*
CHANGES*
HISTORY*
[Hh]istory*
*/**/README*
[Rr]ead[Mm]e*
AUTHORS*
SECURITY*

**/node_modules/*/*.md
!LICENSE.md
![Ll]icense.md
**/node_modules/*/docs/
**/node_modules/*/man/

# More specials
.licensee.json
.mailmap
bower.json
*.umd.js
equation.gif
.flake8
requirements_dev.txt
**/semver/*.bnf
