# Logs
*.log
*-debug.log*
*-error.log*

# Test coverage
coverage/
*.lcov
.nyc_output/
.nycrc

# Output of 'npm pack'
*.tgz

# Integrity file
.yarn-integrity
.package-lock.json

# Environment variable files
.env
.env.*.local
.env.local

# Cache directory
**/node_modules/.cache/
**/node_modules/.bin/

# Misc.
.DS_Store
Thumbs.db

*.swp
*~
*.bak
.dir-locals.el

# IDEs and editors
.idea/
*.iml
.vscode/

# Byte-compiled files
__pycache__/
*.pyc

.jshintrc
.eslintrc*
.eslintignore

CODE_OF_CONDUCT.md
CONTRIBUTING.md
PULL_REQUEST_TEMPLATE*

# Git specific files
.github/
*/**/.gitignore
.gitmodules

yarn.lock
package-lock.json
.npmignore
.nvmrc

# CI configurations
.travis.yml
appveyor.yml
Jenkinsfile

# Coding conventions
.editorconfig
.tm_properties
.prettierrc*
.jscsrc
.jscs.json
jsl.node.conf

# Testing files
test/
tests/
spec/
fixtures/
test.js
tests.js
test-node.js
test-browser.js
benchmark/
bench.js
speedtest.js

karma.conf.*
.coveralls.yml
.istanbul.yml

# Examples
examples/
example/
samples/
example.js
example.html
.tonic_example.js
samplejson/
**/cli-columns/color.js

# Built files
*.min.js
*.min.map
*.min.js.map
*.min.d.ts
**/ajv/dist/
**/psl/dist/
**/qs/dist/

# Scripts
Makefile
Makefile.targ
*.patch
scripts/
**/errno/build.js
**/build/build.js
gen-changelog.sh

# Testing scripts
testdata/
gyp-tests.el
run-unit-tests.sh

# Dependency executable files
**/node_modules/*/bin/
!**/node-gyp/bin/
**/node_modules/*/cli.js
**/node_modules/*/bin.js

# More specials
bower.json
*.umd.js
LICENSE.html
browserstack-logo.svg
wg-meetings/
equation.gif
