# Logs
*.log
*-debug.log*
*-error.log*

# Test coverage
#coverage/
#*.lcov
.nyc_output/

# Output of 'npm pack'
*.tgz

# Integrity file
.yarn-integrity
.package-lock.json

# Environment variable files
.env
.env.*.local
.env.local

# Cache directory
node_modules/.cache/
node_modules/.bin/

# Misc.
*.swp
*~
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
#*.iml
.vscode/

# Byte-compiled files
__pycache__/
*.pyc

.jshintrc
.eslintrc

CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Test Executables
#test/
#fixtures/
