# Documents
changelogs/
AUTHORS*
CHANGELOG*
*/**/README*
HISTORY*
CHANGES*

[Hh]istory.md
[Rr]eadme.md
[Cc]hangelog.md
ChangeLog
readme.markdown
changelog.hbs

**/node_modules/*/*.md
!LICENSE.md
![Ll]icense.md
**/node_modules/*/man/
**/node_modules/*/docs/

*.d.ts
*.js.map
**/dist/*.map
*.js.flow
*.coffee

# Specific list
.mailmap
.licensee.json
docs/*.*
lib/**/*.md
**/ajv/lib/dot/
libnpx.1
component.json
**/semver/*.bnf
